DB_PASSWORD=example_password
DB_USER=example_user
JWT_EXPIRE_DAYS=0
JWT_EXPIRE_HOURS=0
JWT_EXPIRE_MINUTES=30
JWT_SECRET=exampleSecretKey1234567890=
OWNER_ADDRESS_CITY=Example City
OWNER_ADDRESS_COMPLEMENT=Apto 101
OWNER_ADDRESS_COUNTRY=Exampleland
OWNER_ADDRESS_NEIGHBORHOOD=Example Neighborhood
OWNER_ADDRESS_NUMBER=123
OWNER_ADDRESS_STATE=EX
OWNER_ADDRESS_STREET=Example Street
OWNER_ADDRESS_ZIP_CODE=00000-000
OWNER_BIRTHDAY=2000-01-01
OWNER_CPF=00000000000
OWNER_EMAIL=example.user@example.com
OWNER_FULL_NAME=Example User
OWNER_PASSWORD=examplePassword123
OWNER_PHONE_NUMBER=+55 11 90000-0000
OWNER_ROLE=ADMIN
REFRESH_TOKEN_EXPIRE_DAYS=7
REFUND_MAX_DAYS=7
SPRING_PROFILES_ACTIVE=dev
